<!DOCTYPE html>
<html>
<head>
  <title>I18nPoetry</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id="language-select">
    TODO: add language selection here
  </nav>

<%= yield %>

</body>
</html>
